  
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.navbar1{
  /* font-family: 'Sora', sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .button{
    height: 40px !important;
    padding-bottom: 5px !important;
} */